<p>Name: <%= @page.name %>, Age: <%= @page.age %>, Hair Color: <%= @page.hair_color %>, Eye Color: <%= @page.eye_color %>, Gender: <%= @page.gender %>, Alive: <%= @page.alive %></p>
<%= link_to 'Back', pages_path %>
